<h1>Editing share video</h1>

<%= render "form", share_video: @share_video %>

<br>

<div>
  <%= link_to "Show this share video", @share_video %> |
  <%= link_to "Back to share videos", share_videos_path %>
</div>
